body{
    background-color: lightblue;
    font-family: Century;
    font-size: 1em
}

h1 {
  font-family: monospace;
  font-size: 40px
}


.fixed-bottom-right { 
  position: fixed; 
  right: 16px;   /* distance from right edge */ 
  bottom: 16px;  /* distance from bottom edge */ 
  z-index: 1000; /* optional, keep on top */ 
} 